body {
    background-color: black;
    color:white;
	font-family:"Determination Sans","Determination Mono","8-bit Operator","FixedSys","Terminal Vector",Arial,sans-serif;
	font-size:1em;
}

a {
    text-decoration: underline;
    color: yellow;
}

a:hover {
    color: rgb(255, 243, 138);
}


.mainbox {
    align-items: center;
    justify-content: center;
    margin: 10%;
    border: 0.5vw solid white;
}

.title {
    text-align: center;
    font-size: 3vw;
    margin: 3%;
}

.introbox {
    margin: 5%;
    align-items: center;
    text-align: center;
    border: 0.25vw solid white;
    font-size: 1.75vw;
    padding: 3%;
}

.invis {
    margin: 3%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.subbox {
    border: 0.3vw solid white;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 20%;
    height: 20%;
}

.subbox:hover {
    border: 0.3vw solid yellow;
}

.subboximg {
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: all 0.3s;
}

.subboximg:hover {
    height: 120%;
    width: 120%;
}

.subtextbox {
    text-align: center;
    align-items: center;
    position: absolute;
    bottom: 5%;
    width: 50%;
    height: 20%;
    border: 0.25vw solid white;
    background-color: black;
    font-size: 1vw;
}

.subtextbox:hover {
    border: 0.25vw solid yellow;
}

footer {
    border-top: 0.5vw solid white;
    text-align: center;
    font-size: 3vw;
    position: relative;
    bottom: 0;
}


@media screen and (max-width: 680px) {
    .mainbox {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    footer {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
    
    .invis {
        display: block;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    .subbox {
        margin-right: 35%;
        margin-left: 35%;
        margin-bottom: 5%;
        width: 30%;
    }
  }